body {
  background-color: #FFFFFF;
  margin: 0 auto;
}

header {
  background-color: #202020;
  border-bottom: 1px solid #202020;
  position: fixed;
  width: 100%;
  z-index: 5;
 
}

ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
}

li {
  color: #FFFFFF;
  font-family: 'Verdana', sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: bold;
  display: inline-block;
  width: 80px;

}

li:hover {
  color: #e3e3e3;
}

.welcome {
  color: 000000#;
  font-family: Verdana, serif;
  font-size: 32px;
}
  
