html {
font-size:16px;
min-width: 100%;
max-width: 200%;

}



body {
  background-color: #252525;
  margin: 0 auto;
}
.welcome {
	clear: both;

}

header {
  background-color: #E5E5E5;
  background-image: url("Background.jpg");
  background-position: right top;
  background-attachment: fixed;
  background-repeat: repeat-x;
  
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0px;
 
}

h1,
welcome {
	
	border: 2px solid #252525;
	box-shadow: 1px 1px #FFFFFF;
	padding: 1px 5px;
	text-align: center;
	border-radius: 25px;
	color: #252525;
	text-shadow: 1px 1px #FFFFFF;
	font-family: 'Great Vibes', serif;
	font-size: 2.5rem;
	position: fixed;
	display: inline;
	justify-content: center;
	min-width: 75px;
	max-width: 450px;
	z-index: 5;
	clear: right; 
    top: 7px;
	left: 5px;
    margin: auto;	
}

ul {
  margin: 25px auto;
  padding: 0 20px;
  justify-content: center;
  text-align: center;
  
}

.topbar {
  color: #252525;
  font-family: 'Verdana', sans-serif;
  font-size: 1rem;
  font-weight: bold;  
  display: inline-block;
  max-width: 200px;
  min-width: 120px;
  clear: left;
}

li:hover {
  color: #e3e3e3;
}

.container {
  display: flex;
}

.nav {
  background-color: #E5E5E5;
  background-image: url("Background.jpg");
  background-repeat: repeat-y;
  background-position: right top;
  background-attachment: fixed;
  max-width: 12%;
  min-width: 140px;
  min-height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  
}

.nav h2 {

	color: #252525;
	font-family: 'Verdana', sans-serif;
	text-align: center;
	display: inline-block;
	padding: 60px 0px 0px 0px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 0px;

}

.sidebar {
	color: white;
	opacity: 0.75;
	background-color: #252525;
	font-family: 'Verdana', sans-serif;
    font-size: 0.95rem;
    font-weight: bold;
    display: block;
	padding: 10px 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	border: 2px solid #252525;
	border-radius: 25px;	
	
}
    

.main {
	
  color: #e5e5e5;
  max-width: 99%;
  min-width: 50%;
  font-family: 'Berkshire-Swash', serif;
  margin-top: 30px;
  padding-top: 10px;
  margin-bottom: 0px;
  
  left: 10px;
  overflow-wrap: normal;
  
}

.main h2 {

}
  
  
footer {
  background-color: #E5E5E5;
  background-image: url("Background.jpg");
  background-position: right top;
  background-attachment: fixed;
  background-repeat: repeat-x;
  text-align: center;
    margin: 0px;
	padding: 0px;
  position: fixed;
  width: 100%;
  height: 38px;
  z-index: 5;
  bottom: 0px;

}

.bottom {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: bold; 
  display: block;
  font-family: 'Verdana', sans-serif;
  min-height: 50%;
  bottom: -10px;
  position: relative;
  bottom: 23%;
}

.leftbar {

  background-color: #E5E5E5;
  background-image: url("Background.jpg");
  background-repeat: repeat-x;
  background-position: right top;
  background-attachment: fixed;
  z-index: 4;
  
  max-width: 60px;
  min-width: 60px;
  min-height: 100%;
  max-height: 100%;
  position: fixed;
 
  top: 0px;
  left: 0px;
}

.frame {
overflow: normal;
min-width: 100%;
min-height: 100%;
}

.frame iframe {
	position: relative;
	height: 50.5rem;
	min-width: 83.5%;
	overflow: hidden;
	left: 5rem;
	top: 5rem;
	max-width: auto;
	display: block;
}