html {
font-size:16px;
}

body {
  background-color: #252525;
  margin: 0 auto;
}
.welcome {
	clear: both;

}

header {
  background-color: #E5E5E5;
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0px;
 
}

h1,
welcome {
	
	border: 2px solid #252525;
	padding: 1px 5px;
	text-align: center;
	border-radius: 25px;
	color: #252525;
	font-family: 'Great Vibes', serif;
	font-size: 2.5rem;
	position: fixed;
	display: inline;
	justify-content: center;
	min-width: 75px;
	max-width: 450px;
	z-index: 5;
	clear: right; 
    top: 7px;
	left: 5px;
    margin: auto;	
}

ul {
  margin: 25px auto;
  padding: 0 20px;
  justify-content: center;
  text-align: center;
  
}

.topbar {
  color: #252525;
  font-family: 'Verdana', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  font-style: bold;
  display: inline-block;
  max-width: 200px;
  min-width: 120px;
  clear: left;
}

li:hover {
  color: #e3e3e3;
}

.container {
  display: flex;
}

.nav {
  background-color: #E5E5E5;
  max-width: 12%;
  min-width: 140px;
  min-height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  
}

.nav h2 {

color: #252525;
font-family: 'Verdana', sans-serif;
text-align: center;
display: inline-block;
padding: 60px 0px 0px 0px;
margin-left: 0px;
margin-top: 10px;
margin-bottom: 0px;

}

.sidebar {
	color: #252525;
	font-family: 'Verdana', sans-serif;
    font-size: 0.95rem;
    font-weight: 200;
    font-style: bold;
    display: block;
	padding: 10px 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	border: 2px solid #252525;
	border-radius: 25px;	
	
}
    

.main {
	
  color: #e5e5e5;
  max-width: 90%;
  min-width: 50%;
  font-family: 'Berkshire-Swash', serif;
  margin-top: 30px;
  padding-top: 10px;
  margin-bottom: 0px;
  position: relative;
  left: 13px;
  overflow-wrap: normal;
  
}

.main h2 {
	margin-bottom: 0px;
	padding-bottom: 0px;
	top: 40px;
	display: inline;
}
  

